.App {
  text-align: center;
}

.Video-Container-flex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 5px;
}

.Container-flex-item{
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.Container-flex-item iframe{
  width: 100%;
  display: block;
}